
.idea/
*.iml
# ===============================
cmake-build-*/
build/
out/
# ===============================
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
# ===============================
.DS_Store
# ===============================
Thumbs.db
# ===============================
*.log
*.tmp
# ===============================
assets/cache/
# ===============================
.vscode/
.cache